Скопируйте этот файл в .env и заполните реальные значения.

Секретный ключ Django (замените на ваш собственный, сгенерируйте уникальный)
SECRET_KEY=""

Режим отладки (True/False)
DEBUG=False

Список разрешённых хостов через запятую
ALLOWED_HOSTS=127.0.0.1,localhost

URL для подключения к базе данных PostgreSQL
Формат: postgres://USER:PASSWORD@HOST:PORT/DB_NAME
DATABASE_URL=postgres://<db_user>:<db_password>@<db_host>:<db_port>/<db_name>